{% extends "base.html" %}
{% block body-block %}
<div id="add-video-form" class="plate">
<div class="notice">Для получения корректной ссылки найдите на <a href="https://www.youtube.com">YouTube</a> интересующее Вас видео. Нажмите кнопку "Отправить" (Share) под видео. Скопируйте в буфер обмена появившиюся ниже ссылку (Ctrl + C) и вставьте ее в поле "Ссылка на видео на YouTube" на этой странице (пример правильной ссылки: <a href="http://youtu.be/ioKhdS976IM" target="_blank">http://youtu.be/ioKhdS976IM</a>). Затем нажмите кнопку "Добавить видео".</div>
{% if video %}
<div>Видео <a href="{{ video.url }}">{{ video.url }}</a> успешно добавлено</div>
<div class="video">
    <div class="video-controls">
      <a href="{% url edit_video video.pk %}">Посчитать избирателей</a>
    </div><div class="video-iframe">
      <iframe width="420" height="315" src="{{ video.get_embed_url }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endif %}
<!-- TODO Probably need to migrate to HTTP GET, since we do not change anything by this request -->
<form action="{% url voters_counter_application.views.add_video %}" method="post">{% csrf_token %}
{{ add_video_form.as_p }}
<input type="submit" value="Добавить видео" />
</form>
<div>
{% endblock %}