{% extends "base.html" %}
{% block body-block %}
<div id="add-video-form" class="plate">
  <div>Видео <a href="{{ video.url }}">{{ video.url }}</a></div>
  <div class="video">
    <div id="ytapiplayer">
      Требуется включить Flash player 8+ и JavaScript для просмотра этого видео.
    </div>
  </div>
  <div class="notice">Запускайте видео на проигрывание и нажимайте соответствующие кнопки, когда появляются избиратели возле урн</div>
  <div style="height: 1em;"></div>
  <div class="button box1" onclick="vote('1');">+1 голос в урну 1</div>
  <div class="button box2" onclick="vote('2');">+1 голос в урну 2</div>
  <div class="button violation" onclick="violation();">+1 Нарушение</div>
  <div class="votes" id="votes">
    {% for vote in votes %}
      {% include "vote.html" with vote=vote %}
    {% endfor %}
  </div>
<div>
{# TODO Move script block to just before body closing tag #}
<script type="text/javascript">
  playerObject = null;
  
  function onYouTubePlayerReady(playerId) {
    playerObject = document.getElementById('myytplayer');
    playerObject.addEventListener("onStateChange", "onytplayerStateChange");
  }

  highlightVoteIntervalId = null;
  
  function onytplayerStateChange(newState) {
    switch(newState) {
      case 1: // playing
        highlightVoteIntervalId = setInterval(highlightVote, 500);
        break;
      case 0: // ended
      case 2: // paused
        if(highlightVoteIntervalId != null) {
          clearInterval(highlightVoteIntervalId);
          highlightVoteIntervalId = null;
        }
        break;
    }
  }

  var params = { allowScriptAccess: "always" };
  var atts = { id: "myytplayer" };
  swfobject.embedSWF("{{ video.get_embed_url_with_api }}&playerapiid=ytplayer",
                     "ytapiplayer", "420", "315", "8", null, null, params, atts);

  {# TODO Unit test this function #}
  function getVoteByTimestamp(timestamp) {
    votes = $('#votes .vote').toArray();
    {# TODO Here is a room for optimization, since the array is sorted #}
    for (var i = 0; i < votes.length; i++) {
      vote_ = votes[i];
      if(parseInt(vote_.getAttribute('data-start')) <= timestamp && timestamp <= parseInt(vote_.getAttribute('data-stop'))) {
        return vote_;
      }
    }
    return null
  }

  function getVoteInsertionPoint(timestamp) {
    var prevVote = null;
    var votes = $('#votes .vote').toArray();
    {# TODO Here is a room for optimization, since the array is sorted #}
    for (var i = 0; i < votes.length; i++) {
      var vote_ = votes[i];
      if(timestamp < parseInt(vote_.getAttribute('data-start'))) {
        break;
      }
      prevVote = vote_
    }
    return prevVote
  }
  
  function highlightVote() {
    if(playerObject) {
      var vote_ = getVoteByTimestamp(playerObject.getCurrentTime());
      if(vote_) {
        if(!$(vote_).hasClass('highlighted')) {
          $('#votes .vote.highlighted').removeClass('highlighted');
          $(vote_).addClass('highlighted');
        }
        var button = null;
        if(vote_.getAttribute('data-violation') == 'True') {
          button = $('.button.violation');
        } else {
          button = $('.button.box' + vote_.getAttribute('data-box'));
        }
        if(!button.hasClass('highlighted')) {
          $('.button.highlighted').removeClass('highlighted');
          button.addClass('highlighted');
        }
      } else {
        $('#votes .vote.highlighted').removeClass('highlighted');
        $('.button.highlighted').removeClass('highlighted');
      }
    } 
  }
  
  function sendVote(timestamp, type, box) {
    var request = $.ajax({
      type: "POST",
      url: "/vote/",
      data: "timestamp=" + timestamp + "&vote_type=" + type + "&box=" + box + "&video_id=" + {{ video.pk }}
    })
    
    {# TODO Handle none 200 HTTP response somehow #}
    request.done(function(data) {
      var insertionPoint = getVoteInsertionPoint(timestamp)
      if(insertionPoint) {
        $(data).insertAfter(insertionPoint);
      } else {
        $(data).appendTo('#votes');
      }
    });

    request.fail(function(jqXHR, textStatus) {
      {# TODO Implement error handling #}
    });    
  }

  function vote(box) {
    if(playerObject) {
      sendVote(playerObject.getCurrentTime(), 'vote', box);
    }
  }
  
  function violation() {
    if(playerObject) {
      sendVote(playerObject.getCurrentTime(), 'violation', null);
    }
  }
</script>
{% endblock %}