{% extends "base.html" %}
{% block body-block %}
<div id="add-video-form" class="plate">
  <div>Видео <a href="{{ video.url }}">{{ video.url }}</a></div>
  <div class="video">
    <div id="ytapiplayer">
      Требуется включить Flash player 8+ и JavaScript для просмотра этого видео.
    </div>
  </div>
  <div id="video-controls">
    <div class="notice">Ускоренное проигрывание</div>
    <div id="play_x1" class="button video-control" onclick="playVideo(1);" title="Проиграть">&gt;</div>
    <div id="play_x2" class="button video-control" onclick="playVideo(2);" title="Проиграть с ускорением x2">&gt;&gt; x2</div>
    <div id="play_x4" class="button video-control" onclick="playVideo(4);" title="Проиграть с ускорением x4">&gt;&gt; x4</div>
    <div id="play_x8" class="button video-control" onclick="playVideo(8);" title="Проиграть с ускорением x8">&gt;&gt; x8</div>
    <div id="play_x16" class="button video-control" onclick="playVideo(16);" title="Проиграть с ускорением x16">&gt;&gt; x16</div>
    <div id="pause" class="button video-control" onclick="pauseVideo();" title="Пауза"> | | </div>
  </div>
  <div class="notice">Запускайте видео на проигрывание и нажимайте соответствующие кнопки, когда появляются избиратели возле урн</div>
  <div style="height: 1em;"></div>
  <div>
    <div class="button box1" onclick="vote('1');">+1 голос в урну 1</div>
    <div class="button box2" onclick="vote('2');">+1 голос в урну 2</div>
    <div class="button violation" onclick="violation();">+1 Нарушение</div>
  </div>
  <div class="votes" id="votes">
    {% for vote in votes %}
      {% include "vote.html" with vote=vote %}
    {% endfor %}
  </div>
<div>
{# TODO Move script block to just before body closing tag #}
<script type="text/javascript">
  playerObject = null;
  
  function onYouTubePlayerReady(playerId) {
    playerObject = document.getElementById('myytplayer');
    playerObject.addEventListener("onStateChange", "onytplayerStateChange");
  }

  accelerationPeriod2 = 500; // in millis
  accelerateVideoIntervalId2 = null;
  playbackAccelerationFactor = 1;

  blockAccelerateVideoPlayback = false;
  function accelerateVideoPlayback2() {
    if(blockAccelerateVideoPlayback) {
      return;
    }
    blockAccelerateVideoPlayback = true;
    if(playerObject) {
      newPosition = playerObject.getCurrentTime() + accelerationPeriod2 / 1000 * (playbackAccelerationFactor - 1);
      if(newPosition < playerObject.getDuration()) {
        playerObject.seekTo(newPosition, true);
      } else {
        playerObject.stopVideo();
        clearInterval(accelerateVideoIntervalId2);
        accelerateVideoIntervalId2 = null;
      }
    }
    blockAccelerateVideoPlayback = false;
  }

  function playVideo(factor) {
    if(playerObject == null) {
      return;
    }
    playbackAccelerationFactor = factor;
    $('.button.video-control').removeClass('pressed');
    $('.button.video-control#play_x' + factor).addClass('pressed');
    if(factor == 1) {
      playerObject.playVideo();
      return;
    }
    playerObject.playVideo();
    if(accelerateVideoIntervalId2 == null) {
      accelerateVideoIntervalId2 = setInterval(accelerateVideoPlayback2, accelerationPeriod2);
    }
  }
  
  function pauseVideo() {
    if(playerObject) {
      playerObject.pauseVideo();
    }
    if(accelerateVideoIntervalId2 != null) {
      clearInterval(accelerateVideoIntervalId2);
      accelerateVideoIntervalId2 = null;
      playbackAccelerationFactor = 1;
    }
  }

  highlightVoteIntervalId = null;
  
  function onytplayerStateChange(newState) {
    switch(newState) {
      case 1: // playing
        $('.button.video-control.pressed').removeClass('pressed');
        $('.button.video-control#play_x' + playbackAccelerationFactor).addClass('pressed');
        if(highlightVoteIntervalId == null) {
          highlightVoteIntervalId = window.setInterval(highlightVote, 500);
        }
        break;
      case 2: // paused
        $('.button.video-control.pressed').removeClass('pressed');
        $('.button.video-control#pause').addClass('pressed');
      case 0: // ended
        if(newState == 0) {
          $('.button.video-control.pressed').removeClass('pressed');
        }
        if(highlightVoteIntervalId != null) {
          window.clearInterval(highlightVoteIntervalId);
          highlightVoteIntervalId = null;
        }
        if(accelerateVideoIntervalId2 != null) {
          clearInterval(accelerateVideoIntervalId2);
          accelerateVideoIntervalId2 = null;
          playbackAccelerationFactor = 1;
        }
        break;
    }
  }

  var params = { allowScriptAccess: "always" };
  var atts = { id: "myytplayer" };
  swfobject.embedSWF("{{ video.get_embed_url_with_api }}&playerapiid=ytplayer",
                     "ytapiplayer", "420", "315", "8", null, null, params, atts);

  {# TODO Unit test this function #}
  function getVoteByTimestamp(timestamp) {
    votes = $('#votes .vote').toArray();
    {# TODO Here is a room for optimization, since the array is sorted #}
    for (var i = 0; i < votes.length; i++) {
      var vote_ = votes[i];
      if(parseInt(vote_.getAttribute('data-start')) <= timestamp && timestamp <= parseInt(vote_.getAttribute('data-stop'))) {
        return vote_;
      }
    }
    return null
  }

  function getVoteInsertionPoint(timestamp) {
    var votes = $('#votes .vote').toArray();
    {# TODO Here is a room for optimization, since the array is sorted #}
    for (var i = 0; i < votes.length; i++) {
      var vote_ = votes[i];
      if(timestamp < parseInt(vote_.getAttribute('data-start'))) {
        return vote_;
      }
    }
    return null;
  }
  
  function highlightVote() {
    if(playerObject) {
      var vote_ = getVoteByTimestamp(playerObject.getCurrentTime());
      if(vote_) {
        if(!$(vote_).hasClass('highlighted')) {
          $('#votes .vote.highlighted').removeClass('highlighted');
          $(vote_).addClass('highlighted');
        }
        var button = null;
        if(vote_.getAttribute('data-violation') == 'True') {
          button = $('.button.violation');
        } else {
          button = $('.button.box' + vote_.getAttribute('data-box'));
        }
        if(!button.hasClass('highlighted')) {
          $('.button.highlighted').removeClass('highlighted');
          button.addClass('highlighted');
        }
      } else {
        $('#votes .vote.highlighted').removeClass('highlighted');
        $('.button.highlighted').removeClass('highlighted');
      }
    } 
  }
  
  function sendVote(timestamp, type, box) {
    var request = $.ajax({
      type: "POST",
      url: "/vote/",
      data: "timestamp=" + timestamp + "&vote_type=" + type + "&box=" + box + "&video_id=" + {{ video.pk }}
    })
    
    {# TODO Handle none 200 HTTP response somehow #}
    request.done(function(data) {
      var insertionPoint = getVoteInsertionPoint(timestamp)
      if(insertionPoint != null) {
        $(data).insertBefore(insertionPoint);
      } else {
        $(data).appendTo('#votes');
      }
    });

    request.fail(function(jqXHR, textStatus) {
      {# TODO Implement error handling #}
    });    
  }

  function vote(box) {
    if(playerObject) {
      sendVote(playerObject.getCurrentTime(), 'vote', box);
    }
  }
  
  function violation() {
    if(playerObject) {
      sendVote(playerObject.getCurrentTime(), 'violation', null);
    }
  }
</script>
{% endblock %}